<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="mt-5 py-4 text-center text-muted" style="background-color: #fff9db; border-top: 2px solid #ffeaa7;">
        <div class="container">
          <p class="mb-1 fw-semibold">© 2025 PowerLab. Todos los derechos reservados.</p>
          <small>Diseñado con  y enfoque en el rendimiento deportivo.</small>
        </div>
      </footer>
</body>
</html>