
    body {
      background-color: #ffffff;
      color: #212529;
    }
    .navbar {
      background-color: #f8f9fa;
    }
    .bg-lightgray {
      background-color: #f1f3f5;
    }
    .text-brand {
      color: #ff8800; /* naranja suave */
    }
    .btn-warning {
      background-color: #ffcc00;
      border: none;
    }
    .btn-warning:hover {
      background-color: #ffb700;
    }
